@media (max-width: 768px) {
.center {
	padding-left: 16px;
	padding-right: 16px;
}
.title {
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.subtitle {
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 22px;
}
.top {
	background-position: 30%;
	&__header {
		width: 342px;
		margin-top: 238px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;
		&_subtitle {
			width: 342px;
			margin-top: 0;
		}
		&_button {
			margin-top: 0;
		}
	}
}
.conteiner { 
height: 1221px;
}
.select-of { 
	display: flex;
	flex-direction: column;
	gap: 32px;
	&__one_img {
		width: 343px;
		height: 300px;
	}
	&__two_img {
		width: 343px;
		height: 300px;
	}
	&__three_img {
		width: 343px;
		height: 300px;
	}
}
.img_mobile {
	width: 343px;
	height: 300px;
}

}