* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(./IMG/Fons_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.top__header {
  position: absolute;
  margin-top: 218px;
}
.top__header_title {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__header_subtitle {
  margin-top: 32px;
  width: 481px;
}
.top__header_button {
  margin-top: 44px;
  transition: background-color 0.3s;
}
.top__header_button:hover {
  background-color: #6a0220;
}

.subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 32px;
}

.button {
  box-sizing: border-box;
  background-color: #9C0332;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 234px;
  height: 48px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}

.conteiner {
  background-image: url(./IMG/fons_content.jpg);
  height: 556px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.select-of {
  display: flex;
  gap: 32px;
  position: absolute;
  margin-top: 128px;
  margin-bottom: 128px;
}
.select-of__one {
  position: relative;
}
.select-of__one_img {
  border-radius: 16px;
  transition: transform 0.4s;
}
.select-of__one_img:hover {
  transform: scale(1.1);
}
.select-of__one_title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}
.select-of__two {
  position: relative;
}
.select-of__two_img {
  border-radius: 16px;
  transition: transform 0.4s;
}
.select-of__two_img:hover {
  transform: scale(1.1);
}
.select-of__two_title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}
.select-of__three {
  position: relative;
}
.select-of__three_img {
  border-radius: 16px;
  transition: transform 0.4s;
}
.select-of__three_img:hover {
  transform: scale(1.1);
}
.select-of__three_title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
}

.Game-1 {
  background-color: rgb(0, 9, 21);
  height: 800px;
  display: flex;
  justify-content: space-between;
}
.Game-1__seasons {
  margin-top: 282px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.Game-1__seasons_title {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  line-height: 59px;
  text-align: left;
}
.Game-1__seasons_subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  line-height: 32px;
  text-align: left;
  color: #fff;
  width: 585px;
}
.Game-1__seasons_button {
  transition: background-color 0.3s;
}
.Game-1__seasons_button:hover {
  background-color: #6a0220;
}
.Game-1__img {
  margin-top: 232px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 315px);
    padding-right: calc(50% - 315px);
  }
  .center_mobile {
    margin-left: -164px;
  }
  .top__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__header_title {
    text-align: center;
  }
  .select-of__one_img {
    width: 300px;
    height: 280px;
  }
  .select-of__two_img {
    width: 300px;
    height: 280px;
  }
  .select-of__three_img {
    width: 300px;
    height: 280px;
  }
  .img_mobile {
    width: 300px;
    height: 280px;
  }
}
@media (max-width: 768px) {
  .center {
    padding-left: calc(50% - 315px);
    padding-right: calc(50% - 315px);
  }
  .center_mobile {
    margin-left: 0px;
  }
  .top__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__header_title {
    text-align: center;
  }
  .conteiner {
    height: 1000px;
  }
  .select-of {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
  }
  .select-of__one_img {
    width: 379px;
    height: 300px;
  }
  .select-of__two_img {
    width: 379px;
    height: 300px;
  }
  .select-of__three_img {
    width: 379px;
    height: 300px;
  }
  .img_mobile {
    width: 379px;
    height: 300px;
  }
}
@media (max-width: 425px) {
  .center {
    padding-left: 38px;
    padding-right: 38px;
  }
  .center_mobile {
    margin-left: 0px;
  }
  .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .top {
    background-position: 30%;
  }
  .top__header {
    width: 342px;
    margin-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .top__header_subtitle {
    width: 342px;
    margin-top: 0;
    text-align: center;
  }
  .top__header_button {
    margin-top: 0;
  }
  .conteiner {
    height: 1000px;
  }
  .select-of {
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: center;
  }
  .select-of__one_img {
    width: 342px;
    height: 300px;
  }
  .select-of__two_img {
    width: 342px;
    height: 300px;
  }
  .select-of__three_img {
    width: 342px;
    height: 300px;
  }
  .img_mobile {
    width: 342px;
    height: 300px;
  }
}
@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .top {
    background-position: 30%;
  }
  .top__header {
    width: 342px;
    margin-top: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .top__header_subtitle {
    width: 342px;
    margin-top: 0;
    text-align: center;
  }
  .top__header_button {
    margin-top: 0;
  }
  .conteiner {
    height: 1221px;
  }
  .select-of {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .select-of__one_img {
    width: 343px;
    height: 300px;
  }
  .select-of__two_img {
    width: 343px;
    height: 300px;
  }
  .select-of__three_img {
    width: 343px;
    height: 300px;
  }
  .img_mobile {
    width: 343px;
    height: 300px;
  }
}
@media (max-width: 320px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  .title {
    font-size: 26px;
  }
  .top {
    background-position: 30%;
  }
  .top__header {
    width: 300px;
  }
  .select-of__one_img {
    width: 300px;
    height: 280px;
  }
  .select-of__two_img {
    width: 300px;
    height: 280px;
  }
  .select-of__three_img {
    width: 300px;
    height: 280px;
  }
  .img_mobile {
    width: 300px;
    height: 280px;
  }
}/*# sourceMappingURL=style.css.map */